@(form: Form[Option[model.Application]])(implicit flash: Flash)
<!DOCTYPE html>
@main("Welcome to Play 2.0", None) {
    
  @helper.form(routes.Home.authenticate) {

    <h1>Sign in</h1>

    @form.globalError.map { error =>
      <p class="error">
        @error.message
      </p>
    }

    @flash.get("success").map { message =>
      <p class="success">
        @message
      </p>
    }

    <p>
      <input type="text" name="id" placeholder="id" id="id" value="@form("id").value">
    </p>
    <p>
      <input type="text" name="name" placeholder="Application name" id="name" value="@form("name").value">
    </p>
    <p>
      <input type="text" name="secret" placeholder="secret" id="secret" value="@form("secret").value">
    </p>
    <p>
      <button type="submit" id="loginbutton">Login</button>
    </p>

  }

}
