avrilog-web/.target
avrilog-common/project/target/
avrilog-server/project/target/
*.class
*.classpath
*/target
*/bin
*/eclipse-target
*.settings
*.pydevproject
*.project
*.cache
*.idea
/build
/project
/target
*/project/target
